* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(175, 255, 211);
}
ul li {
    color:greenyellow
}
ul{
    background-color: rgba(111, 206, 131, 0.634);
    width: 200px;
}
h1 {
    color: rgb(116, 174, 29)
}

    #container {
        background-color: azure;
        width: 100%;
        height: 400px;

        display: flex;
        align-items: center; /*alinha verticalmente*/
        justify-content: space-evenly;/*alinha horizontalmente*/

    }

    .caixa {
        width: 200px;
        height: 200px;
        border: 5px solid rgb(33, 151, 102);
        border-radius: 100%;
    }